<div *ngIf="isBlackOverlayVisible" class="black-overlay"></div>


<div
  class="html full-page"  [@fadeInOut2s]
>
  <canvas #canvas id="canvas" class="webgl"></canvas>

  <section class="section sec1">
    <h2 class="text-7xl font-semibold">Welcome to my universe</h2>
  </section>

  <section class="section sec2">
    <article class="article-content">
      <h2 class="text-7xl font-semibold">I am Mohamed Sghaier</h2>
<!--         <div class="card container d-flex text-center justify-center">
          <div class="wrapper">
            <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
          </div>
          <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
          <img src="me.png" class="character" />
        </div>  -->   </article>
  </section>

  <section class="section">
    <div class="row container ">
      <div class="col-md-10 col-md-offset-1">
        <div class="title text-center ">
          <h2 class="border-b-2 text-7xl font-semibold">I am a Software Engineer</h2>
        </div>
        <!-- summary section -->
        <div class="summary ">
<!--           <h2 class="text-center">Summary</h2> -->
          <p class=" text-center text-md font-meduim">
            I m a dynamic Software Solutions Engineer with a robust background in full-stack development, cloud computing and Security.
            With expertise in Java, Python, and Angular, I  specialize in crafting scalable, secure, and innovative applications.
            my career spans impactful roles  ,
            i m Known for my problem-solving mindset and a strong focus on results, I combine technical excellence with a business-oriented approach.
            Fluent in English, French, and Arabic, i thrive in multicultural environments, bringing creativity and precision to every project i undertake.
            Beyond his technical acumen, I always blend artistry with engineering to drive unique perspectives in my professional and personal endeavors.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section sec1 ml-8">
    <h2 class="text-7xl font-bold ">Technical Expertise</h2>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6 px-4 lg:px-16 text-gray-300">
      <div>
        <h3 class="text-lg font-semibold text-blue-400">Languages & Frameworks</h3>
        <p>- Proficient in Java (Spring Boot) and Python (Flask/Django), Typescript (Angular)</p>
        <p>- Experienced with  REST APIs, WebSockets, JHipster, Spring Security and FastAPI.</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-blue-400">Cloud & DevOps</h3>
        <p>Expert in AWS (App Services, EKS),  and Cloud Migrations.</p>
        <p>Skilled with Terraform, GitLab CI/CD, Jenkins, AWS CodePipeline, and Kubernetes (EKS/AKS).</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-blue-400">Security</h3>
        <p>- Proficient in web application penetration testing and ensuring compliance with standards such as ISO 27001,PCI DSS, and SWIFT CSP. </p>
        <p>- Conducted audits on cloud infrastructures, banking systems, and money transfer platforms .</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-blue-400">Specialized Technologies</h3>
        <p>Hands-on  ERP , Accounting , Web Scrapping  , GPS , 3D , GPT   </p>
        <p>API , Machine Learning Classification Models and AI (Person Recognition) related projects .</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-blue-400"> Database Technologies</h3>
        <p>Skilled  with PostgreSQL, Elasticsearch, MongoDB, Firebase, and DynamoDB.</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-blue-400">Testing </h3>
        <p>Maintains unit and integration tests using JUnit, Mockito, and PyTest.</p>
      </div>
    </div>
  </section>
  <section class="section sec1">
    <div id="blackhole">
      <div class="centerHover">

       <h2 class="text-center text-7xl font-semibold"> I worked with</h2>

      </div>
    </div>
  </section>
  <section class="section">
    <div class="row container ">
      <div class="col-md-10 col-md-offset-1">
        <div class="relative flex flex-col ">
<!--           <img src="msi-consulting.jpg" alt="Obeya IT Logo" class="absolute top-0 left-0 h-16 w-auto object-contain">
 -->          <h2 class=" text-center border-b-2 text-7xl font-semibold ">Msi Consulting</h2>
        </div>
        <!-- summary section -->
        <div class="summary ">
<!--           <h2 class="text-center">Summary</h2> -->
<div class="flex flex-col items-center bg-gray-100 p-8 rounded-lg shadow-md">
  <ul class="list-disc space-y-4 text-center text-gray-700 max-w-2xl text-md ">
    <li>
      <span class="text-md font-medium">Led</span> cloud migration projects for various clients, transitioning legacy systems and applications from on-premise environments to
      <strong class="text-indigo-600">Azure</strong>, ensuring minimal disruption and optimizing scalability and performance.
    </li>
    <li>
      <span class="font-medium">Managed</span> end-to-end cloud infrastructure deployment using
      <strong class="text-indigo-600">Infrastructure as Code (IaC)</strong> with
      <strong class="text-indigo-600">Azure Resource Manager (ARM)</strong> templates and
      <strong class="text-indigo-600">Terraform</strong>, enabling automated and repeatable infrastructure setups.
    </li>
    <li>
      <span class="font-medium">Enhanced</span> cloud security by implementing
      <strong class="text-indigo-600">Azure Security Center</strong>,
      <strong class="text-indigo-600">Azure Policies</strong>, and automated governance processes, ensuring compliance with industry standards and improving overall cloud security posture.
    </li>
    <li>
      <span class="font-medium">Migrated</span> client data to Azure services, including
      <strong class="text-indigo-600">Azure SQL Database</strong> and
      <strong class="text-indigo-600">Azure Storage</strong>, while optimizing data workflows for better availability and cost-efficiency.
    </li>

  </ul>
</div>

        </div>
        <div class="d-flex text-center justify-center">
          <img class="mx-auto mb-3" src="msi_pic.png" alt="Profile Image">
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Cloud Migration</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">ARM Templates</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Terraform</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Azure Security Center</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Azure SQL Database</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">ITIL</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">ISO 27001</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">SWIFT CSP</span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">PCI DSS</span>
        </div>



      </div>
    </div>
  </section>
  <section class="section">
    <div class="row container ">
      <div class="col-md-10 col-md-offset-1">
        <div class="relative flex flex-col ">
<!--           <img src="site2020.png" alt="Obeya IT Logo" class="absolute top-0 left-0 h-16 w-auto object-contain">
 -->          <h2 class=" text-center border-b-2 text-7xl font-semibold ">Site2020</h2>
        </div>

        <!-- summary section -->
        <div>
          <div class="flex flex-col items-center bg-gray-100 p-8 rounded-lg shadow-md">
            <ul class="list-disc space-y-4 text-center text-gray-700 max-w-2xl">
              <li>
                <span class="font-medium">Developed</span> <strong class="text-indigo-600">Django</strong> and
                <strong class="text-indigo-600">Spring Boot</strong> services incorporating AI models, contributing to the development of a Fish Density Tracker platform.
              </li>
              <li>
                <span class="font-medium">Engineered</span> backend systems to support advanced mapping features, including
                <strong class="text-indigo-600">geolocation</strong>, <strong class="text-indigo-600">route optimization</strong>, and
                <strong class="text-indigo-600">distance calculation</strong>, leveraging Google Maps services.
              </li>
              <li>
                <span class="font-medium">Spearheaded</span> the development of a robust and meticulously maintained
                <strong class="text-indigo-600">Trunc-based CI/CD pipeline</strong>, strategically optimizing lead time and resource utilization.
              </li>
              <li>
                <span class="font-medium">Integrated</span> security practices into the software development lifecycle, automating rigorous security checks, and fostering a culture of continuous security enhancement to fortify applications and data assets.
              </li>
              <li>
                <span class="font-medium">Played</span> a pivotal role in the migration from
                <strong class="text-indigo-600">AWS</strong> to
                <strong class="text-indigo-600">GCP (Google Cloud Platform)</strong>, ensuring a seamless transition with minimal disruption.
              </li>
              <li>
                <span class="font-medium">Implemented</span> automation within the <strong class="text-indigo-600">Slack platform</strong> to streamline discussions, notifications, and actions associated with deployment and monitoring processes.
              </li>
            </ul>
          </div>

          <div class="d-flex text-center justify-center">
            <img class="mx-auto mb-2" src="m5.png" alt="Profile Image">
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Springboot</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Flask</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">AWS</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">EKS</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Clean Architecture</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">GCP</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">ChatOps</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">FastAPI</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Toyota Kata</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Geolocation</span>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="row container ">
      <div class="col-md-10 col-md-offset-1">

        <div class="relative flex flex-col ">
<!--           <img src="obeya_logo.png" alt="Obeya IT Logo" class="absolute top-0 left-0 h-16 w-auto object-contain">
 -->          <h2 class=" text-center border-b-2 text-7xl font-semibold ">Obeya IT</h2>
        </div>
        <!-- summary section -->
        <div class="summary ">
<!--           <h2 class="text-center">Summary</h2> -->
<div class="flex flex-col items-center bg-gray-100 p-8 rounded-lg shadow-md">
  <ul class="list-disc space-y-4 text-center text-gray-700 max-w-2xl">
    <li>
      <span class="font-medium">Developed</span> full-stack applications using
      <strong class="text-indigo-600">JHipster</strong>, integrating
      <strong class="text-indigo-600">Java</strong> for backend services and
      <strong class="text-indigo-600">Angular</strong> for the frontend.
    </li>
    <li>
      <span class="font-medium">Led</span> a team of three backend developers, managing progress, conducting code reviews, and ensuring quality and efficiency.
    </li>
    <li>
      <span class="font-medium">Optimized</span> data storage and retrieval with
      <strong class="text-indigo-600">PostgreSQL</strong> and
      <strong class="text-indigo-600">Elasticsearch</strong>, improving query performance and data management.
    </li>
    <li>
      <span class="font-medium">Migrated</span> the frontend framework from
      <strong class="text-indigo-600">Bootstrap</strong> to
      <strong class="text-indigo-600">Tailwind CSS</strong>, enhancing design consistency and development efficiency.
    </li>
    <li>
      <span class="font-medium">Implemented</span> web scraping solutions to gather data from
      <strong class="text-indigo-600">LinkedIn</strong>,
      <strong class="text-indigo-600">Fiverr</strong>, and
      <strong class="text-indigo-600">Malt</strong>, improving data accuracy and relevance.
    </li>
    <li>
      <span class="font-medium">Integrated</span> AI algorithms to improve data processing and decision-making in applications.
    </li>
    <li>
      <span class="font-medium">Designed</span> and developed responsive UI components using
      <strong class="text-indigo-600">Angular</strong>, enhancing user experience and interaction.
    </li>
    <li>
      <span class="font-medium">Developed</span> a custom web search engine by integrating the
      <strong class="text-indigo-600">Google Search API</strong>, enabling tailored search results for job offers on various platforms.
    </li>
  </ul>
</div>
        </div>
        <div class="d-flex text-center justify-center">

        <img class="mx-auto pb-2" src="me.png">
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Springboot</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Django</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">AWS</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Elasticsearch</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Google Search API</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Gitlab</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">PostgreSQL</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">JHipster</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">JUnit</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">WebSockets</span>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">GPT API</span>

      </div>
    </div>

    </div>
  </section>
</div>
